<?xml version="1.0"  encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.mikes.nolorry.mapper.basic.SystemLogMapper">
	<insert id="create"
		parameterType="com.mikes.nolorry.model.basic.SystemLog"
		useGeneratedKeys="true" keyProperty="logId" keyColumn="log_id">
		insert into
		t_basic_system_log (opt_time,opt_type,account,acc_name,action,action_desc,addr_,tmnl) VALUES
		(#{optTime},#{optType},#{account},#{accName},#{action},#{actionDesc},#{addr},#{tmnl})
	</insert>
</mapper>